h1{
	text-align: center;
}



.keyboard{
	display: flex;
	align-items: flex-end;
	padding: 150px;
	margin-left: 50px;
	margin-right: 50px;
/*	padding-left: 150px;
	padding=right: 150px;*/
	justify-content: center;
	flex-wrap: wrap;
	/*width: auto;*/

}

.keyboard button{
	margin-left: 5px;
	margin-right: 5px;


}

#gameBox img{
	display: flex;
	margin: auto auto;
	height: 300px;
	justify-content: center;
}

.wordBank{
	display: flex;
	justify-content: center;
	padding-top: 80px;
}

.wordBank div{
	display: flex;
	border-bottom: 5px solid black;
	border-bottom-width: medium
	margin-left: 50px;
	margin-right: 50px;
	padding: 0 20px;
}

