h1{
	text-align: center;
	padding-right: 70px;
}


#remainingTurns{
	text-align: right;
	padding-right: 150px;
	color: green;
}

.keyboard{
	display: flex;
	align-items: flex-end;
	padding: 150px;
	margin-left: 50px;
	margin-right: 50px;
/*	padding-left: 150px;
	padding=right: 150px;*/
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 250px;
	padding-top: 90px;
	/*width: auto;*/

}

/*.keyboard button:hover{
	margin-left: 5px;
	margin-right: 5px;
	transform: translate(-127, 509);

}
*/
/*.keyboard:hover {
  transform: scale(2);
  transition: transform 1s;
}*/

#gameBox img{
	display: flex;
	margin: auto auto;
	height: 300px;
	justify-content: center;
	padding-left: 100px;
}

.wordBank{
	display: flex;
	justify-content: center;
	padding-top: 80px;
	padding-left: 170px;
}


.wordBank div{
	display: flex;
	border-bottom: 5px solid black;
	border-bottom-width: medium
	margin-left: 50px;
	margin-right: 50px;
	padding: 0 20px;
}


span {
	top: 640px;
	left: 500px;
	position: absolute;
	/*opacity: 0;*/
	transition: all 1s ease;
}